In [1]:
import requests
import pandas as pd
import json

In [63]:
#Get request to url through REST API
r=requests.get('https://reqres.in/api/users?page=2')

In [64]:
#checking the status of request 200=Success
r.status_code

200

In [65]:
#checking the content type received from request
r.headers['content-type']

'application/json; charset=utf-8'

In [66]:
#checking the body of data received from successful get request
r.text

'{"page":2,"per_page":6,"total":12,"total_pages":2,"data":[{"id":7,"email":"michael.lawson@reqres.in","first_name":"Michael","last_name":"Lawson","avatar":"https://reqres.in/img/faces/7-image.jpg"},{"id":8,"email":"lindsay.ferguson@reqres.in","first_name":"Lindsay","last_name":"Ferguson","avatar":"https://reqres.in/img/faces/8-image.jpg"},{"id":9,"email":"tobias.funke@reqres.in","first_name":"Tobias","last_name":"Funke","avatar":"https://reqres.in/img/faces/9-image.jpg"},{"id":10,"email":"byron.fields@reqres.in","first_name":"Byron","last_name":"Fields","avatar":"https://reqres.in/img/faces/10-image.jpg"},{"id":11,"email":"george.edwards@reqres.in","first_name":"George","last_name":"Edwards","avatar":"https://reqres.in/img/faces/11-image.jpg"},{"id":12,"email":"rachel.howell@reqres.in","first_name":"Rachel","last_name":"Howell","avatar":"https://reqres.in/img/faces/12-image.jpg"}],"support":{"url":"https://reqres.in/#support-heading","text":"To keep ReqRes free, contributions towards server costs are appreciated!"}}'

In [67]:
#converting text to json
rjson=r.json()

In [68]:
rjson

{'page': 2,
 'per_page': 6,
 'total': 12,
 'total_pages': 2,
 'data': [{'id': 7,
   'email': 'michael.lawson@reqres.in',
   'first_name': 'Michael',
   'last_name': 'Lawson',
   'avatar': 'https://reqres.in/img/faces/7-image.jpg'},
  {'id': 8,
   'email': 'lindsay.ferguson@reqres.in',
   'first_name': 'Lindsay',
   'last_name': 'Ferguson',
   'avatar': 'https://reqres.in/img/faces/8-image.jpg'},
  {'id': 9,
   'email': 'tobias.funke@reqres.in',
   'first_name': 'Tobias',
   'last_name': 'Funke',
   'avatar': 'https://reqres.in/img/faces/9-image.jpg'},
  {'id': 10,
   'email': 'byron.fields@reqres.in',
   'first_name': 'Byron',
   'last_name': 'Fields',
   'avatar': 'https://reqres.in/img/faces/10-image.jpg'},
  {'id': 11,
   'email': 'george.edwards@reqres.in',
   'first_name': 'George',
   'last_name': 'Edwards',
   'avatar': 'https://reqres.in/img/faces/11-image.jpg'},
  {'id': 12,
   'email': 'rachel.howell@reqres.in',
   'first_name': 'Rachel',
   'last_name': 'Howell',
   'avatar': 'https://reqres.in/img/faces/12-image.jpg'}],
 'support': {'url': 'https://reqres.in/#support-heading',
  'text': 'To keep ReqRes free, contributions towards server costs are appreciated!'}}

In [69]:
#filtering out only the necessary data from the json
rjson=rjson['data']

In [70]:
rjson

[{'id': 7,
  'email': 'michael.lawson@reqres.in',
  'first_name': 'Michael',
  'last_name': 'Lawson',
  'avatar': 'https://reqres.in/img/faces/7-image.jpg'},
 {'id': 8,
  'email': 'lindsay.ferguson@reqres.in',
  'first_name': 'Lindsay',
  'last_name': 'Ferguson',
  'avatar': 'https://reqres.in/img/faces/8-image.jpg'},
 {'id': 9,
  'email': 'tobias.funke@reqres.in',
  'first_name': 'Tobias',
  'last_name': 'Funke',
  'avatar': 'https://reqres.in/img/faces/9-image.jpg'},
 {'id': 10,
  'email': 'byron.fields@reqres.in',
  'first_name': 'Byron',
  'last_name': 'Fields',
  'avatar': 'https://reqres.in/img/faces/10-image.jpg'},
 {'id': 11,
  'email': 'george.edwards@reqres.in',
  'first_name': 'George',
  'last_name': 'Edwards',
  'avatar': 'https://reqres.in/img/faces/11-image.jpg'},
 {'id': 12,
  'email': 'rachel.howell@reqres.in',
  'first_name': 'Rachel',
  'last_name': 'Howell',
  'avatar': 'https://reqres.in/img/faces/12-image.jpg'}]

In [71]:
#creating dataframe from json 
df=pd.DataFrame(rjson)

In [72]:
df

,id,email,first_name,last_name,avatar
0,7,michael.lawson@reqres.in,Michael,Lawson,https://reqres.in/img/faces/7-image.jpg
1,8,lindsay.ferguson@reqres.in,Lindsay,Ferguson,https://reqres.in/img/faces/8-image.jpg
2,9,tobias.funke@reqres.in,Tobias,Funke,https://reqres.in/img/faces/9-image.jpg
3,10,byron.fields@reqres.in,Byron,Fields,https://reqres.in/img/faces/10-image.jpg
4,11,george.edwards@reqres.in,George,Edwards,https://reqres.in/img/faces/11-image.jpg
5,12,rachel.howell@reqres.in,Rachel,Howell,https://reqres.in/img/faces/12-image.jpg

In [73]:
#renaming columns of the dataframe
col={'id':"ID",'email':"Email of Customer",'first_name':"First Name",'last_name':"Last Name","avatar":"Avatar"}
df=df.rename(columns=col)

In [74]:
df

,ID,Email of Customer,First Name,Last Name,Avatar
0,7,michael.lawson@reqres.in,Michael,Lawson,https://reqres.in/img/faces/7-image.jpg
1,8,lindsay.ferguson@reqres.in,Lindsay,Ferguson,https://reqres.in/img/faces/8-image.jpg
2,9,tobias.funke@reqres.in,Tobias,Funke,https://reqres.in/img/faces/9-image.jpg
3,10,byron.fields@reqres.in,Byron,Fields,https://reqres.in/img/faces/10-image.jpg
4,11,george.edwards@reqres.in,George,Edwards,https://reqres.in/img/faces/11-image.jpg
5,12,rachel.howell@reqres.in,Rachel,Howell,https://reqres.in/img/faces/12-image.jpg

In [75]:
df['Name']=df['First Name']+" "+df['Last Name']

In [76]:
df.drop(columns=['First Name','Last Name'],axis=1)

,ID,Email of Customer,Avatar,Name
0,7,michael.lawson@reqres.in,https://reqres.in/img/faces/7-image.jpg,Michael Lawson
1,8,lindsay.ferguson@reqres.in,https://reqres.in/img/faces/8-image.jpg,Lindsay Ferguson
2,9,tobias.funke@reqres.in,https://reqres.in/img/faces/9-image.jpg,Tobias Funke
3,10,byron.fields@reqres.in,https://reqres.in/img/faces/10-image.jpg,Byron Fields
4,11,george.edwards@reqres.in,https://reqres.in/img/faces/11-image.jpg,George Edwards
5,12,rachel.howell@reqres.in,https://reqres.in/img/faces/12-image.jpg,Rachel Howell

In [80]:
df=df[['ID','Name','Email of Customer','Avatar']]

In [81]:
df

,ID,Name,Email of Customer,Avatar
0,7,Michael Lawson,michael.lawson@reqres.in,https://reqres.in/img/faces/7-image.jpg
1,8,Lindsay Ferguson,lindsay.ferguson@reqres.in,https://reqres.in/img/faces/8-image.jpg
2,9,Tobias Funke,tobias.funke@reqres.in,https://reqres.in/img/faces/9-image.jpg
3,10,Byron Fields,byron.fields@reqres.in,https://reqres.in/img/faces/10-image.jpg
4,11,George Edwards,george.edwards@reqres.in,https://reqres.in/img/faces/11-image.jpg
5,12,Rachel Howell,rachel.howell@reqres.in,https://reqres.in/img/faces/12-image.jpg