# T Test on Single Sample :

### Statement : 
Experian Marketing Services reported that the typical American spends a mean of 144 minutes (2.4 hours) per day accessing the Internet via a mobile device. (Source: The 2014 Digital Marketer, available at ex.pn/IkXJjfX.) 

### Problem : We want to check the validity of this statement. In order to check the validity, an unbiased sample of 30 people have been taken randomly and their average time on Internet via mobile is recorded. 
#### 1. Is there enough evidence to reject the reported mean of 144 by report.

In [2]:
import numpy as np
import pandas as pd
import math
from scipy import stats
from scipy.stats import   ttest_1samp

In [4]:
mydata = pd.read_csv('InternetMobileTime .csv')
mydata.head()

   Minutes
0       72
1      144
2       48
3       72
4       36

#### Why are we doing T-test?
Because we don't know the standard deviation of the population.

### Step 1: Define null and alternative hypotheses

#### Null hypothesis states that mean  internet usage time, $\mu$ is equals to 144.
#### Alternative hypothesis states that the mean mean  internet usage time, $\mu$ is unequal to 144.

* $H_0$: $\mu$ = 144
* $H_A$: $\mu$ $\neq$ 144

### Step 2: Decide the significance level

Here we select $\alpha$ = 0.05.

### Step 3: Calculate the p - value and test statistic

**scipy.stats.ttest_1samp calculates the t test for the mean of one sample given the sample observations and  the expected value in the null hypothesis. This function returns t statistic and the two-tailed p value.**

In [5]:
# one sample t-test
# null hypothesis: expected value = 144
t_statistic, p_value = ttest_1samp(mydata, 144)
print('One sample t test \nt statistic: {0} p value: {1} '.format(t_statistic, p_value))

One sample t test
t statistic: [1.22467437] p value: [0.23055327]

### Step 5 Decide to reject or accept null hypothesis

In [6]:

# p_value < 0.05 => alternative hypothesis:

alpha_value = 0.05 # Level of significance
print('Level of significance: %.2f' %alpha_value)
if p_value < alpha_value: 
    print('We have evidence to reject the null hypothesis since p value < Level of significance')
else:
    print('We have no evidence to reject the null hypothesis since p value > Level of significance') 

print ("Our one-sample t-test p-value=", p_value)

Level of significance: 0.05
We have no evidence to reject the null hypothesis since p value > Level of significance
Our one-sample t-test p-value= [0.23055327]

### So at 95% confidence level, there is  sufficient evidence  to prove that mean time spent on the internet is equal to  144 minutes.